body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  background-image: linear-gradient(to bottom right, #525e75, #78938a);
  height: auto;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 3px 3px 8px;
  margin-top: 10px;
}

